@layer reset, base;

:root {
  --neutral-50: #fafafa;
  --neutral-300: #d4d4d4;
  --neutral-500: #737373;
  --neutral-950: #0a0a0a;

  --green-50: #f0fdf4;
  --green-200: #b9f8cf;
  --green-700: #008236;

  --blue-50: #eff6ff;
  --blue-200: #bedbff;
  --blue-700: #1447e6;

  --red-50: #fef2f2;
  --red-200: #ffc9c9;
  --red-700: #c10007;
}

@font-face {
  font-family: 'Inter Variable';
  src: url('/fonts/Inter-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;

  font-family: 'Inter Variable', sans-serif;
  color: var(--neutral-950);
}

button {
  cursor: pointer;
}

.containter {
  border: 1px solid var(--neutral-300);
  border-radius: 16px;
}
